body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

#info {
    background: white;
    padding: 10px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

#map {
    height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
